__pycache__/
*.py[cod]
.venv/
experiments/*
!experiments/.gitkeep
results/*
!results/.gitkeep
tb_logger/
datasets/**/input/*
datasets/**/target/*
!datasets/**/input/.gitkeep
!datasets/**/target/.gitkeep
pretrained/*
!pretrained/.gitkeep
